@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SIMS.Models.StudentViewModel
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<h2 style="text-align:center; color: blue;">Create Student</h2>

<form asp-action="Create" method="post" class="p-4 bg-light rounded shadow-sm">
    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DoB"></label>
        <input asp-for="DoB" class="form-control" type="date" />
        <span asp-validation-for="DoB" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label asp-for="Major"></label>
        <input asp-for="Major" class="form-control" />
        <span asp-validation-for="Major" class="text-danger"></span>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-primary me-2">Create</button>
        <a asp-action="Index" class="btn btn-warning">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}