@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SIMS.Models.CourseViewModel>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h2>This is Courses Page</h2>
        
        <table class="table my-2">
            <thead>
                <tr>
                    <th>CourseId</th>
                    <th>CourseName</th>
                    <th>CourseDescription</th>
                    <th>CreatedAt</th>
                    <th>Start Date</th>
                    <th>UpdatedAt</th>
                    <th>TypeID</th>
                    <th>TypeName</th>
                    <th>Action</th>
                  
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>

