@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SIMS.Models.ClassViewModel
@{
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h2>Create Course</h2>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Create Course</h5>
                <form method="post" enctype="multipart/form-data" asp-controller="Courses" asp-action="Create">
                    <div class="mb-3">
                        <label asp-for="ClassID">ClassID</label>
                        <input asp-for="ClassID" class="form-control" type="text" />
                        <span asp-validation-for="ClassID" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ClassName">ClassName</label>
                        <textarea asp-for="ClassName" class="form-control" rows="8"></textarea>
                        <span asp-validation-for="ClassName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="CreatedAt">CreatedAt Date</label>
                        <input asp-for="CreatedAt" class="form-control" type="date" value="@DateOnly.FromDateTime(DateTime.Now).ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="UpdatedAt">End Date</label>
                        <input asp-for="UpdatedAt" class="form-control" type="date" />
                        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="TypeID">Vote (0-5)</label>
                        <input asp-for="TypeID" class="form-control" type="number" min="0" max="5" />
                        <span asp-validation-for="TypeID" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-check">
                        <input asp-for="TypeName" class="form-check-input" type="checkbox" checked="checked" />
                        <label asp-for="TypeName" class="form-check-label">Active</label>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>